<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>
<h1>To-Do List</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.deadline}"></td>
        <td th:text="${task.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
